@use './variables' as v;

body {
  background-color: v.$very_dark_blue;
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: v.$pale_blue;
  font-family: v.$font-family;
  font-size: v.$font-size;
  font-weight: v.$font-weight-four;
  display: flex;
  align-items: center;
  justify-content: center;

  @include v.desktop {
    background-image: url("../images/bg-desktop.png");
    background-position: bottom;
    background-size: auto;
  }
}

main {
  padding: 20px;
  //background-color: red;

  @include v.desktop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}


.left-container {
  background-color: v.$dark_blue;
  border-radius: 10px 60px 10px 10px;
  padding: 10px;
  margin-bottom: 20px;

  @include v.desktop {
    border-radius: 10px 100px 10px 10px;
    // width: 354px;
    margin: 0px;
    padding: 0px;
  }
}

.logo {
  margin-top: 20px;
  padding: 10px;

  @include v.desktop {
    margin: 20px;
    padding: 10px;
  }
}

.image-container {
  display: flex;
  margin-top: 20px;

  @include v.desktop {
    margin: 20px;
    padding: 10px;
  }
}

.section {
  background-color: v.$very_dark_blue;
  border-radius: 10px;
  margin: 10px;
}

.image {
  padding: 10px;
}

.right-container {
  background-color: v.$dark_blue;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;

  @include v.desktop {
    padding: 0px;
    margin: 0px;
  }
}

#top-paragraphy {
  text-align: center;
  padding: 10px;

  @include v.desktop {
    text-align: start;
    padding: 20px;
  }
}

.gradient-line {
  background-color: v.$very_dark_blue;
  margin: 10px 10px 0px 10px;
  border-radius: 50px;

  @include v.desktop {
    width: 456px;
    margin: 0px 20px 0px 20px;
  }
}

#gradient {
  max-width: 190px;
  padding: 5px;
  background-image: linear-gradient(to right, #FFA399, #FF4D97);
  border-radius: inherit;

  @include v.desktop {
    max-width: 340px;
  }
}

.middle-value {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 270px;
  margin-bottom: 50px;

  @include v.desktop {
    max-width: 456px;
    margin: 0px 20px 20px 20px;
  }
}

.button {
  background-color: v.$pale_blue;
  border-radius: 10px;
  height: 80px;
  width: 190px;
  margin: 0 auto;
  position: relative;
  bottom: 50px;

  @include v.desktop {
    bottom: 70px;
    right: 220px;
  }
}

.space-left {
  text-align: center;
  padding: 20px;
}

.big {
  color: v.$very_dark_blue;
  font-weight: v.$font_weight-seven;
  font-size: 30px;
}

.gb-value {
  color: v.$grayish_blue;
  padding-left: 10px;
}