body {
  background-color: hsl(229, 57%, 11%);
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(243, 100%, 93%);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 64.0625em) and (max-width: 100em) {
  body {
    background-image: url("../images/bg-desktop.png");
    background-position: bottom;
    background-size: auto;
  }
}

main {
  padding: 20px;
}
@media (min-width: 64.0625em) and (max-width: 100em) {
  main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 200px;
  }
}

.left-container {
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px 60px 10px 10px;
  padding: 10px;
  margin-bottom: 20px;
}
@media (min-width: 64.0625em) and (max-width: 100em) {
  .left-container {
    border-radius: 10px 100px 10px 10px;
    margin: 0px;
    padding: 0px;
  }
}

.logo {
  margin-top: 20px;
  padding: 10px;
}
@media (min-width: 64.0625em) and (max-width: 100em) {
  .logo {
    margin: 20px;
    padding: 10px;
  }
}

.image-container {
  display: flex;
  margin-top: 20px;
}
@media (min-width: 64.0625em) and (max-width: 100em) {
  .image-container {
    margin: 20px;
    padding: 10px;
  }
}

.section {
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  margin: 10px;
}

.image {
  padding: 10px;
}

.right-container {
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
@media (min-width: 64.0625em) and (max-width: 100em) {
  .right-container {
    padding: 20px;
    margin: 42px 20px 20px 20px;
  }
}

#top-paragraphy {
  text-align: center;
  padding: 10px;
}
@media (min-width: 64.0625em) and (max-width: 100em) {
  #top-paragraphy {
    text-align: start;
    padding: 20px;
  }
}

.gradient-line {
  background-color: hsl(229, 57%, 11%);
  margin: 10px 10px 0px 10px;
  border-radius: 50px;
}
@media (min-width: 64.0625em) and (max-width: 100em) {
  .gradient-line {
    width: 456px;
    margin: 0px 20px 0px 20px;
  }
}

#gradient {
  max-width: 190px;
  padding: 5px;
  background-image: linear-gradient(to right, #FFA399, #FF4D97);
  border-radius: inherit;
}
@media (min-width: 64.0625em) and (max-width: 100em) {
  #gradient {
    max-width: 340px;
  }
}

.middle-value {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 270px;
  margin-bottom: 50px;
}
@media (min-width: 64.0625em) and (max-width: 100em) {
  .middle-value {
    max-width: 456px;
    margin: 0px 20px 20px 20px;
  }
}

.button {
  background-color: hsl(243, 100%, 93%);
  border-radius: 10px;
  height: 80px;
  width: 190px;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
}
@media (min-width: 64.0625em) and (max-width: 100em) {
  .button {
    bottom: 70px;
    right: 260px;
  }
}

.space-left {
  text-align: center;
  padding: 20px;
}

.big {
  color: hsl(229, 57%, 11%);
  font-weight: 700;
  font-size: 30px;
}

.gb-value {
  color: hsl(229, 7%, 55%);
  padding-left: 10px;
}/*# sourceMappingURL=style.css.map */